*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  // background-image: linear-gradient(100deg, skyblue, lightgreen);
  font-family: "Poppins", sans-serif;
}
p {
  padding: 20px 0;
}
section {
  // padding: 5rem 2em;
  margin: 1em 0;

  position: relative;
  // overflow: hidden;
  h2 {
    text-align: center;
  }
  .wave {
    width: 100%;
    position: absolute;
    left: 0;
  }
  .wave:nth-child(1) {
    top: 0;
  }
  .wave:nth-child(2) {
    bottom: 0;
  }
}
main {
  // background: red;
  width: 100%;
  //   padding: 20p;
  header {
    nav {
      //   background: red;
      height: 80px;
      background: #0099ff;
      padding: 10px 20px;
      width: 100%;
      display: flex;
      color: white;
      align-items: center;
      justify-content: space-between;
      position: relative;
      .brand h1 {
        font-family: "Lobster", cursive;
      }
      .lingking {
        position: absolute;
        top: 100%;
        padding: 0 10px;
        background: rgba(0, 0, 0, 0.7);
        min-height: 100vh;
        left: 0;
        width: 40%;
        display: none;
        justify-content: center;
        align-items: stretch;
        flex-direction: column;
        gap: 28px;
        li a {
          font-size: 1.3em;
          color: white;
          font-weight: 500;
        }

        .social {
          position: absolute;
          top: 70%;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 20px;
          width: 100%;
          margin: 20px 0;
          left: 0;
        }
      }
      .lingking[data-show="false"] {
        left: -100%;
      }
      button {
        background: transparent;
        color: white;
        border: none;
        outline: none;
      }
    }
  }
  .main-content {
    min-height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: center;
    .btnCV {
      padding: 15px 2rem;
      background: #0099ff;
      color: white;
      cursor: pointer;
      border-radius: 15px;
      font-weight: bold;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) inset;
      border: none;
    }
  }
  .About {
    background: #fff;
    .row {
      margin: 5em 0;
    }
  }
  .Portfolio {
    .box {
      position: relative;
      max-width: 800px;
      display: flex;
      margin: 10px auto;
      justify-content: center;
      border: 1px solid black;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      .card {
        width: 400px;
        border-radius: 10px;

        img {
          width: 100%;
          transition: 7s;

          border-radius: 10px;
        }
        article {
          display: none;
        }
        .card-content {
          img {
            width: 200px;
          }
        }
      }
    }
  }
  .Services {
    .row {
      @include flex();
      margin: 2em 0;

      gap: 20px;
      flex-direction: column;
      .col {
        .card {
          // background: lightblue;
          position: relative;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
          border-radius: 10px;
          @include flex();
          flex-direction: column;
          text-align: center;
          padding: 20px;
          overflow: hidden;
          button {
            background: transparent;
            border: none;
            z-index: 9;
            color: #0099ff;
          }

          article {
            z-index: 9;
          }
        }
        .card::before {
          content: "";
          position: absolute;
          width: 600px;
          right: -300px;
          height: 200px;
          background: #0099ff;
          transform: rotate(120deg);
        }
      }
    }
  }
  .Contact {
    .card {
      // background: red;
      margin: 20px auto;
      max-width: 400px;
    }
    .row {
      text-align: center;
      @include flex();

      justify-content: space-between;
      // flex-direction: column;

      .col {
        // box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        button {
          background: transparent;
          border: none;
        }
      }
    }
  }
}
footer {
  background: #0099ff;
  margin-top: 1.2em;
}
